/* _content/Rfid/Pages/Dashboard.razor.rz.scp.css */
.counter[b-ix38cikhrh] {
    color: #eb3b5a;
    font-family: 'Muli', sans-serif;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100%;
    padding: 77px 32px 40px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

    .counter[b-ix38cikhrh]:before,
    .counter[b-ix38cikhrh]:after {
        content: "";
        background: #fff;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
        transform: translateX(-50%)translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
    }

    .counter[b-ix38cikhrh]:after {
        background: linear-gradient(45deg,#B81242 49%, #D74A75 50%);
        width: 100%;
        height: 100%;
        box-shadow: none;
        transform: translate(0);
        top: 0;
        left: 0;
        z-index: -2;
        clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
    }

    .counter .counter-icon[b-ix38cikhrh] {
        color: #fff;
        background: linear-gradient(45deg,#B81242 49%, #D74A75 50%);
        font-size: 33px;
        line-height: 70px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s;
    }

        .counter .counter-icon i.fa[b-ix38cikhrh] {
            transform: rotateX(0deg);
            transition: all 0.3s ease 0s;
        }

    .counter:hover .counter-icon i.fa[b-ix38cikhrh] {
        transform: rotateX(360deg);
    }

    .counter h3[b-ix38cikhrh] {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 3px;
    }

    .counter .counter-value[b-ix38cikhrh] {
        font-size: 30px;
        font-weight: 700;
    }

    .counter.orange[b-ix38cikhrh] {
        color: #F38631;
    }

        .counter.orange[b-ix38cikhrh]:after,
        .counter.orange .counter-icon[b-ix38cikhrh] {
            background: linear-gradient(45deg,#F38631 49%,#F8A059 50%);
        }

    .counter.green[b-ix38cikhrh] {
        color: #88BA1B;
    }

        .counter.green[b-ix38cikhrh]:after,
        .counter.green .counter-icon[b-ix38cikhrh] {
            background: linear-gradient(45deg,#88BA1B 49%,#ACD352 50%);
        }

    .counter.blue[b-ix38cikhrh] {
        color: #5DB3E4;
    }

        .counter.blue[b-ix38cikhrh]:after,
        .counter.blue .counter-icon[b-ix38cikhrh] {
            background: linear-gradient(45deg,#5DB3E4 49%,#7EBEE1 50%);
        }

@media screen and (max-width:990px) {
    .counter[b-ix38cikhrh] {
        margin-bottom: 40px;
    }
}
/* _content/Rfid/Pages/Index.razor.rz.scp.css */
/* _content/Rfid/Shared/AppBar.razor.rz.scp.css */

img[b-sna37m09bn] {
    width: 35px;
    border-radius: 50px;
    float: left;
}

.logout[b-sna37m09bn] {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -10px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    color: white;
}

.button[b-sna37m09bn] {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 50px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
}

a:hover[b-sna37m09bn] {
    width: 130px;
}

    a:hover .logout[b-sna37m09bn] {
        opacity: .9;
    }

a[b-sna37m09bn] {
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
    img[b-sna37m09bn] {
        width: 25px;
    }

    .button[b-sna37m09bn] {
        padding: 8px;
        margin: 10px;
        width: 40px;
    }

    a:hover[b-sna37m09bn] {
        width: 100px;
    }

    .logout[b-sna37m09bn] {
        font-size: .7em;
        right: -12px;
        bottom: -8px;
    }
}
/* _content/Rfid/Shared/MainLayout.razor.rz.scp.css */
.page[b-e4y4a6gcra] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-e4y4a6gcra] {
    flex: 1;
}

.sidebar[b-e4y4a6gcra] {
    background-color: #132033;
    border-bottom-right-radius: 30px;
}

.top-row[b-e4y4a6gcra] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-e4y4a6gcra]  a, .top-row .btn-link[b-e4y4a6gcra] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-e4y4a6gcra] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-e4y4a6gcra] {
        display: none;
    }

    .top-row.auth[b-e4y4a6gcra] {
        justify-content: space-between;
    }

    .top-row a[b-e4y4a6gcra], .top-row .btn-link[b-e4y4a6gcra] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-e4y4a6gcra] {
        flex-direction: row;
    }

    .sidebar[b-e4y4a6gcra] {
        width: 210px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-e4y4a6gcra] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-e4y4a6gcra], article[b-e4y4a6gcra] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Rfid/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7cz4nv4ev5] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7cz4nv4ev5] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7cz4nv4ev5] {
    font-size: 1.1rem;
}

.oi[b-7cz4nv4ev5] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7cz4nv4ev5] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7cz4nv4ev5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cz4nv4ev5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cz4nv4ev5]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-7cz4nv4ev5]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-7cz4nv4ev5]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-7cz4nv4ev5] {
        display: none;
    }

    .collapse[b-7cz4nv4ev5] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-7cz4nv4ev5] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
